#header{
    display: flex;
    align-items: center;
    height: $header-height;
    background: $header-background;
    h1 {
        display: none;
    }
    #Logo {
        margin: 10px;
        height: $logo-height;
    }

}

